.instructions {
    border: 1px solid darken(whitesmoke, 10%);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
}

.browser-default {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 15px;;
}

img {
    width: 100%;
    height: 50%;
}